@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white; /* default text color */
}

/* Headings use Roboto Bold */
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* bold */
}
